page-password-forgot {
	.login-top {
		display: flex;
		margin-top: 20px;
		margin-bottom: 10px;
		color: $color-text;
		text-align: right;
		line-height: 1;
		justify-content: center;
		flex-flow: row wrap;

		.big {
			font-family: $font-primary;
			font-size: 48px;
		}

		.small {
			margin-top: -5px;
			font-size: 22px;
		}
	}

	.form-intro {
		margin: 0 0 24px;
		color: $color-background;
		font-family: $font-bold;
		font-size: 18px;
	}

	.input-form {
		ion-input {
			margin-bottom: 10px;
			border-bottom: 2px solid $color-dark;
		}

		ion-label,
		ion-label[stacked] {
			color: $color-primary;
			font-size: 13px;
		}
	}

	.input-form__sublink {
		margin: 3px 0 8px;
		padding: 18px 0 0;
		border-color: $color-primary;
		font-size: 14px;
	}
}
